@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-bb-500 text-gray-bb-100 font-chilanka text-base;
  }
}

@layer components {
  .flex-col-center {
    @apply flex flex-col items-center;
  }

  .bb-title {
    @apply font-lilita text-[40px] text-yellow-bb-300 drop-shadow-bb-2 uppercase;
  }

  .bb-button {
    @apply flex 
    items-center 
    justify-center 
    
    py-2 
    px-4 
    rounded 
    drop-shadow-bb-2

    font-lilita 
    text-2xl 
    text-yellow-bb-300 
    uppercase 
    
    bg-gray-bb-400;
  }

  .popover-arrow {
    @apply absolute 
      bottom-0 
      right-5 
      
      h-0 
      w-0 
      border-l-[12px] 
      border-l-transparent 
      border-r-[12px] 
      border-r-transparent 
      border-b-[12px] 
      border-b-gray-bb-500 
      
      bg-inherit 
      rotate-45;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
