@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-bb-500 text-gray-bb-100 font-chilanka text-base;
  }
}

@layer components {
  .flex-col-center {
    @apply flex flex-col items-center;
  }

  .bb-title {
    @apply font-lilita text-[40px] text-yellow-bb-300 drop-shadow-bb-2 uppercase;
  }

  .bb-button {
    @apply flex 
    items-center 
    justify-center 
    
    py-2 
    px-4 
    rounded 
    drop-shadow-bb-2

    font-lilita 
    text-2xl 
    text-yellow-bb-300 
    uppercase 
    
    bg-gray-bb-400;
  }

  .featuring-title {
    @apply pl-2
    ml-10 
    w-[97px] 
    font-lilita 
    text-[28px] 
    uppercase 
    leading-none 
    text-gray-bb-100 
    drop-shadow-bb-2 
    tracking-tight;
  }

  .popover-arrow {
    @apply absolute 
      bottom-0 
      right-5 
      
      h-0 
      w-0 
      border-l-[12px] 
      border-l-transparent 
      border-r-[12px] 
      border-r-transparent 
      border-b-[12px] 
      border-b-gray-bb-500 
      
      bg-inherit 
      rotate-45;
  }

  .modal-shade {
    @apply flex-col-center 
    justify-center
     
    fixed 
    top-0 
    left-0 
    z-10 
    
    w-full 
    h-full 
    overflow-y-auto 
    overflow-x-hidden 
    outline-none 
    
    bg-gray-bb-500 
    bg-opacity-70 
    transition-opacity;
  }

  .modal-input {
    @apply w-[248px] 
    h-10
    pt-1 
    pl-2 
    rounded 
    drop-shadow-bb-2 
    
    text-gray-bb-500
    
    tablet:h-12 
    tablet:w-[348px];
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
